<h3><a class="btn btn-secondary" href="/product"><i class="fa fa-plus"></i> CreateNew</a> Product List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>CategoryName</th>
            <th>CategoryId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.ProductId}}</td>
            <td>{{this.ProductName}}</td>
            <td>{{this.CategoryName}}</td>
            <td>{{this.CategoryId}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/product/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
